/* --------------------------------- */
/* CSS template for paged ISPRS */
/* --------------------------------- */

/* -------------------- CSS variables ---------------------- */
:root {
    --background: whitesmoke;
    --pagedjs-width: 210mm;
    --pagedjs-height: 297mm;
    --color-paper: white;
    --color-mbox: rgba(0, 0, 0, 0.2);
    --running-title-width: 2.5in;
    --screen-pages-spacing: 5mm;
    --main-color: #724c25;
    --secondary-color: #346aa0;
    --main-font: "Times New Roman";
    --header-font: "Times New Roman";
  }

/* ---------------------- For debugging -------------------- */
/* two pages in a row if possible on screen */
@media screen {
  body {
      background-color: var(--background);
      margin: var(--screen-pages-spacing) auto 0 auto;
  }
  .pagedjs_pages {
      display: flex;
      max-width: calc(var(--pagedjs-width) * 2);
      flex: 0;
      flex-wrap: wrap;
      margin: 0 auto;
  }
  .pagedjs_page {
      background-color: var(--color-paper);
      box-shadow: 0 0 0 1px var(--color-mbox);
      flex-shrink: 0;
      flex-grow: 0;
      margin: auto auto var(--screen-pages-spacing) auto;
  }
}

/* when a row can hold two pages, start first page on the right */
@media screen and (min-width: 12.32in) {
  .pagedjs_page {
      margin: auto 0 var(--screen-pages-spacing) 0;
  }
  .pagedjs_first_page {
      margin-left: var(--pagedjs-width);
  }
}

/* ------------------------ Pages -------------------------- */
/* page size */
@page {
    size: 210mm 297mm; /* var(--pagedjs-width) doesn't work in browser when printing */
  }


/* string variables */
h1.title {
  string-set: h1-title content(text);
}

.shorttitle1 {
  string-set: h1-text content(text);
}

/* blank page */
@page:blank{
  @top-left{
    display: none;
  }

  @top-center{
    display: none;
  }

  @top-right{
    display: none;
  }
}

/* normal page */
@page {

}

/* counter */
@page:right {

    @top-center {
      content: string(h1-title) " | ";
      font-family: var(--header-font);
      text-align: right;
      margin-right: -3cm;
      color: var(--main-color);
    }

    /* numbering */
    @top-right {
      content: none;
    }
}

@page:left {

    @top-center {
      content: " | " string(h1-text);
      font-family: var(--header-font);
      margin-left: -11cm;
      color: var(--main-color);
    }

    /* numbering */
    @top-left {
      content: none;
    }
}

/* paragraph margins */
.pagedjs_left_page p,  .pagedjs_left_page ul, .pagedjs_left_page h2, .pagedjs_left_page h3, .pagedjs_left_page h4, .pagedjs_left_page ol, .pagedjs_left_page #refs {
  margin-right: 15%
}

.pagedjs_right_page p,  .pagedjs_right_page ul, .pagedjs_right_page h2, .pagedjs_right_page h3, .pagedjs_right_page h4 ,  .pagedjs_right_page ol ,  .pagedjs_right_page #refs {
  margin-left: 15%
}

/* ------------------------ Front Cover --------------------- */
@page:first{

    @top-left-corner {
      display: none;
    }

    @top-left {
      display: none;
    }

    @top-center {
      display: none;
    }

    @top-right {
      display: none;
    }

    @top-right-corner {
      display: none;
    }

    @bottom-right {
      display: none;
    }

    @bottom-left {
      display: none;
    }
  }

/* ------------------------ Fonts ---------------------------- */
p, ul, a, ol {
    font-family: var(--main-font);
}

h1, h2, h3, h4 {
    font-family: var(--main-font);
}



/* --------------------- CSS Fragmentation --------------------------- */
/* page breaks; aka CSS fragmentation */
.level1 {
    break-before: page;
  }

.section > h1, .section > h2, .section > h3, .section > h4, .section > h5, .section > h6 {
  break-after: avoid;
}
.footenotes {
  break-before: always;
  break-after: always;
}
.figure {
  break-inside: avoid;
}

/* do not break captions */
caption {
  break-inside: avoid;
  break-after: avoid;
}

/* misc elements */
.subtitle span {
  font-size: .9em;
}
img {
  max-width: 100%;
}
