/* --------------------------------- */
/* CSS template for paged ISPRS */
/* --------------------------------- */

/* -------------------- CSS variables ---------------------- */
:root {
    --background: whitesmoke;
    --pagedjs-width: 210mm;
    --pagedjs-height: 297mm;
    --color-paper: white;
    --color-mbox: rgba(0, 0, 0, 0.2);
    --running-title-width: 2.5in;
    --screen-pages-spacing: 5mm;
    --main-color: #724c25;
    --secondary-color: #346aa0;
    --main-font: "Times New Roman";
    --header-font: "Times New Roman";
  }

/* ---------------------- For debugging -------------------- */
/* two pages in a row if possible on screen */
@media screen {
  body {
      background-color: var(--background);
      margin: var(--screen-pages-spacing) auto 0 auto;
  }
  .pagedjs_pages {
      display: flex;
      max-width: calc(var(--pagedjs-width) * 2);
      flex: 0;
      flex-wrap: wrap;
      margin: 0 auto;
  }
  .pagedjs_page {
      background-color: var(--color-paper);
      box-shadow: 0 0 0 1px var(--color-mbox);
      flex-shrink: 0;
      flex-grow: 0;
      margin: auto auto var(--screen-pages-spacing) auto;
  }
}

/* when a row can hold two pages, start first page on the right */
@media screen and (min-width: 12.32in) {
  .pagedjs_page {
      margin: auto 0 var(--screen-pages-spacing) 0;
  }
  .pagedjs_first_page {
      margin-left: var(--pagedjs-width);
  }
}

/* ------------------------ Pages -------------------------- */
/* page size */
@page {
    size: 210mm 297mm; /* var(--pagedjs-width) doesn't work in browser when printing */
  }


/* string variables */
h1.title {
  string-set: h1-title content(text);
  text-align: center;
  font-size: 12pt;
  text-transform: uppercase;
}

.shorttitle1 {
  string-set: h1-text content(text);
}

/* blank page */
@page:blank{
  @top-left{
    display: none;
  }

  @top-center{
    display: none;
  }

  @top-right{
    display: none;
  }
}

/* normal page */
@page {
  margin-top: 25mm;
  margin-bottom: 25mm;
  margin-left: 20mm;
  margin-right: 20mm;
}

/* counter */
@page:right {
    @top-center {
      content: none
    }

    /* numbering */
    @top-right {
      content: none;
    }
}

@page:left {
    @top-center {
      content: none;
    }

    /* numbering */
    @top-left {
      content: none;
    }
}

/* paragraph margins */
.pagedjs_left_page p,  .pagedjs_left_page ul, .pagedjs_left_page h2, .pagedjs_left_page h3, .pagedjs_left_page h4, .pagedjs_left_page ol, .pagedjs_left_page #refs {
  margin-right: 0%
}

.pagedjs_right_page p,  .pagedjs_right_page ul, .pagedjs_right_page h2, .pagedjs_right_page h3, .pagedjs_right_page h4 ,  .pagedjs_right_page ol ,  .pagedjs_right_page #refs {
  margin-left: 0%
}

/* ------------------------ Front Cover --------------------- */
@page:first{

    @top-left-corner {
      display: none;
    }

    @top-left {
      display: none;
    }

    @top-center {
      display: none;
    }

    @top-right {
      display: none;
    }

    @top-right-corner {
      display: none;
    }

    @bottom-right {
      display: none;
    }

    @bottom-left {
      display: none;
    }
  }

/* ------------------------ Fonts ---------------------------- */
p, ul, a, ol, .csl-entry, caption, th, td{
    font-family: var(--main-font);
    font-size: 9pt;
}

h1, h2, h3, h4 {
    font-family: var(--main-font);
    line-height: 18pt;
    font-size: 9pt;

}



/* --------------------- CSS Fragmentation --------------------------- */
/* page breaks; aka CSS fragmentation */
.level1 {
    break-before: avoid;
  }

.section > h1, .section > h2, .section > h3, .section > h4, .section > h5, .section > h6 {
  break-after: avoid;
}
.footenotes {
  break-before: always;
  break-after: always;
}
.figure {
  break-inside: avoid;
}

/* do not break captions */
caption {
  break-inside: avoid;
  break-after: avoid;
}

/* misc elements */
.subtitle span {
  font-size: .9em;
}
img {
  max-width: 100%;
}

#abstract-title {
  text-align: left;
  font-size: 9pt;
}

#keywords {
  text-align: left;
  font-size: 9pt;
  text-transform: uppercase;
  font-weight: bold;

}

/* Front page or title page */
.front-page {
  width: 100%;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

div.main{
  column-count: 2;
  column-gap: 6mm;
  column-width: 82mm;
}

#references-1 {
  line-height: 9pt;
}
p.caption{
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin: auto;
}
